extends ../layout 
block content
    div 
        a.btn.btn-primary(href="/debt/create") Qarzdorlik qo`shish
        input#filterTable(type="text")
    table#tableItems.table.table-bordered.table-striped.mb-0
        thead
            tr
                th(scope='col')|#
                th(scope='col')|Ismi
                th(scope='col')|Telefon raqami
                th(scope='col')|Passport Seriya 
                th(scope='col')|Hudud 
                th(scope='col')|Jami
                th(scope='col')|Qarzdorlik
                th(scope='col')|Qolgan qarzdorlik
                th(scope='col')|Olingan mahsulotlar
                th(scope='col')|Kun
                th(scope='col')|O`zgartirsh
        each debt,index in debts
            tbody
                tr#passport_id
                    td= index+1
                    td= debt.name
                    td= debt.number
                    td= debt.passport_id
                    td= debt.hudud  
                    td.numbers= debt.allsum  
                    td.numbers= debt.debtsum  
                    td(id= debt._id).numbers|
                    td= debt.items  
                    td= debt.createdAt  
                    td 
                        a.btn.btn-warning.m-2(href="/debt/update/"+debt._id) O`zgartirish

append javascripts
    script. 
        var debts = !{JSON.stringify(debts)};
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="/javascripts/digit.js")
    script(src="/javascripts/debt.js")